<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/users/login" method="post" id="login-form" name="login-form">
	email: <input type="email" id="password" name="password"> <br>
	password: <input type="password" id="password" name="password"> <br>
	<input type="submit" value="Login">

</form>
